/* khmer */
@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  src: local('Angkor Regular'), local('Angkor-Regular'), url(https://fonts.gstatic.com/s/angkor/v10/H4cmBXyAlsPdnlbO_iY_0Lo.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}

* {
    box-sizing: border-box;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Arial;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  font-family: Angkor;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ccc ;
  border-radius: 16px;
  background: url('media/background2.png');
}

/* Style the row border */
.row-border {
    border: 1px solid #ccc ;
    padding: 0.01em 16px;
    border-radius: 16px;
}
.subsection {
    border-bottom: 1px solid #ccc ;
    padding: 0.01em 16px;
}

/* Style the content */
.content-left-img {
/*    background-color: #dde; */
    padding: 10px;
    text-align: center;
}
.content-left-title {
    padding: 10px;
    font-family: Angkor;
}
.content-left {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}
.content {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #ccc ;

}
li {
    font-size: 14px;
    margin-left: 14px;
}


.top_navbar {
  padding: 20px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the footer */
.footer {
    background-color: #ddd;
    padding: 10px;
}
